{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "document": false,
    "navigator": false,
    "window": false,
    "FileReader": true,
    "alert": true,
    "jQuery": true,
    "$": true,
    "XMLHttpRequest": true,
    "contrast": true,
    "angular": true,
    "sessionStorage": true,
    "localStorage": true,
    "location": true,
    "CKEDITOR": true,
    "MediumEditor": true,
    "MediumButton": true,
    "Bloodhound": true,
    "Mustache": true,
    "Handlebars": true,
    "FormData": true,
    "_etmc": true,
    "ga": true,
    "Prism": true,
    "Vivus": true
  }
}
